.DS_Store
__pycache__/

# Ignore Jupyter checkpoints in Output folder only
Output/.ipynb_checkpoints/
Output/**/.ipynb_checkpoints/

# Ignore Jupyter Lab workspaces (if they sneak in)
Output/.jupyter/
Output/.jupyter/lab/workspaces/
Output/**/.jupyter/lab/workspaces/

# IDE desktop workspace configs (optional but common)
*.code-workspace
*.sublime-workspace
*.sublime-project

# OS/Desktop clutter
.DS_Store
Thumbs.db

